// visual
.sc-visual {
  margin-bottom: 3rem;

  .slide-area {
    position: relative;
    overflow: hidden;
  }

  .swiper {

    &-slide {
      a {

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, .5));
        }
      }

      .thumb-box {
        position: relative;
        padding-bottom: 150%;

        &::after {
          display: none;
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .info-box {
        position: absolute;
        bottom: 6.875rem;
        left: 0;
        color: #fff;
        width: 100%;
        padding: 0 11.2vw;

        word: {
          break: keep-all;
          wrap: break-word;
        }

        z-index: 1;
      }

      .sub-title {
        font-size: 3.733333vw;
        line-height: 4.8vw;
        letter-spacing: -.074666667vw;
        margin-bottom: 3.2vw;
      }

      .title {
        @include title(null);
        font-size: 8vw;
        line-height: 9.6vw;
        letter-spacing: -.24vw;
        white-space: nowrap;
        overflow: hidden;
      }

      .desc {
        font-size: 3.733333333vw;
        line-height: 5.333333333vw;
        letter-spacing: -.074666667vw;
        margin-top: 3.2vw;
      }
    }
  }

  .swiper-pagination {
    position: absolute;
    top: 1.5rem;
    right: 1.25rem;
    bottom: auto;
    left: auto;
    width: auto;
    font-size: .6875rem;
    line-height: 1rem;
    color: rgba(255, 255, 255, .6);
    letter-spacing: .55px;

    span {
      font-size: .75rem;
    }

    &-current {
      color: #fff;
    }
  }
}

// shop
.sc-shop {
  padding: 0 1.25rem;
  margin: -0.5rem 0 3.75rem;

  .shop-list {
    margin: 0 -0.3125rem;

    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }

  .shop-item {
    float: left;
    width: 25%;
    padding: 0 0.3125rem;
  }

  .link-shop {

    .thumb-box {
      border-radius: 50%;
      overflow: hidden;

      &::after {
        display: none;
      }
    }

    .info-box {
      margin-top: 0.5rem;
      text-align: center;
    }

    .title {
      @include title(small);
    }
  }
}

// sidebanner 
.sc-sidebanner {
  padding: 0 1.25rem;

  .group-banner {
    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }

  .banner-area {
    float: left;
    width: 50%;

    &:first-child {
      padding-right: 0.125rem;
    }

    &:last-child {
      padding-left: 0.125rem;
    }

    .thumb-box {
      margin-bottom: 1rem;
      height: calc(50vw - 1.375rem);
      overflow: hidden;
      background: url("../img/banner/onerror_img_product.png") no-repeat center/100%;

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    .info-box {
      word-break: keep-all;
      padding-right: 0.625rem;
    }

    .title {
      @include title(null);
      font-size: 1rem;
      color: #000;
      margin-bottom: 0.375rem;
    }

    .desc {
      font-size: .8125rem;
      line-height: 1rem;
      letter-spacing: -.26px;
      color: #777;
    }
  }
}

// sale
.sc-sale {
  .sale-list-wrap {
    padding: 0 1.25rem;
  }

  .sale-item {
    width: 44.26666666vw;
    margin-right: 1.06666666vw;
  }

  .sale-area {
    .info-box {
      margin-top: 0.75rem;
      padding-right: 0.6875rem;
    }

    .title {
      @include title(null);
      font-size: .875rem;
      line-height: 1rem;
      color: #000;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-bottom: 0.25rem;
    }

    .desc {
      @include desc;
      @include ellipse;
      line-height: 1rem;
    }
  }
}

// mdpick
.sc-mdpick {
  .category-list-wrap {
    margin-bottom: 1.125rem;
    padding-right: 1.25rem;
  }

  .category-list {
    overflow: visible;
    margin-left: 1.25rem !important;
  }

  .category-item {
    width: auto !important;
    height: 1.25rem;
    margin-right: 1.5rem;

    &:nth-child(2n) {
      padding-left: 0.125rem;
    }

    &:nth-child(2n+1) {
      padding-right: 0.125rem;
    }
  }

  .btn-category {
    font: {
      family: "ProximaNova-Semibold", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
      weight: 500;
      size: .875rem;
    }

    height: 100%;
    color: #aaa;
    border-bottom: 2px solid transparent;
    transition: all .2s ease-out;

    &.active {
      color: #000;
      border-bottom-color: #000;
    }
  }

  .product-item {
    margin-bottom: 1.5rem;
    width: 50%;

    &:nth-child(2n) {
      padding-left: 0.125rem;
    }

    &:nth-child(2n+1) {
      padding-right: 0.125rem;
    }
  }

  .product-area {
    .thumb-box {
      height: 58.66666666666667vw;
    }
  }
}

// showroom
.sc-showroom {
  .showroom-list-wrap {
    padding: 0 1.25rem;
  }

  .showroom-item {
    width: 44.26666667vw;
    height: 55.2vw;
    margin-right: 1.06666666vw;
    background: url("../img/banner/onerror_img_product.png") no-repeat center/100%;
    overflow: hidden;
  }

  .showroom-area {
    height: 55.2vw;
    background: url("../img/banner/onerror_img_product.png") no-repeat center/100%;

    .thumb-box {
      &::after {
        display: none;
      }
    }

    .info-box {
      position: absolute;
      bottom: 1.75rem;
      left: 0;
      right: 0;
      color: #fff;
      text-align: center;
      padding: 0 0.6875rem;
    }

    .title {
      @include title(medium);
    }

    .desc {
      @include ellipse;
      font-size: .8125rem;
      line-height: 1.0625rem;
      letter-spacing: -.26px;
    }
  }
}

// update
.sc-update {
  background: #f5f5f5;
  padding: 3.25rem 0;

  .sc-title {
    padding: 0 1.25rem;
  }

  .product-list-wrap {
    padding-left: 1.25rem;
  }

  .product-list {
    padding: 0;
    overflow: visible;
  }

  .product-item {
    width: 44.26666666666667vw;
    margin: 0 1.06666666vw 0 0;
  }

  .product-area {
    .thumb-box {
      height: 58.66666666666667vw;
    }
  }
}

// style
.sc-style {
  .sc-title {
    margin-bottom: 0.25rem;
  }

  .category-list {
    display: flex;
    padding: 1.25rem 0 1rem;
    background: #fff;
  }

  .category-item {
    position: relative;
    width: auto;
    height: 100%;
    text-align: center;
    padding: 0 0.1875rem;

    &:first-child {
      padding-left: 1.25rem;
    }
  }

  .btn-category {
    font: {
      family: "ProximaNova-Semibold", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
      weight: 500;
      size: .875rem;
    }

    border-radius: 1.25rem;
    padding: 0.5rem 0.875rem;
    background: #f9f9f9;
    color: #aaa;

    &.active {
      background: #000;
      color: #fff;
    }
  }

  .product-list-wrap {
    padding: 0 1.25rem;
    display: none;

    &.visible {
      display: block;
    }
  }

  .product-list {
    overflow: visible;
    padding: 0;
  }

  .product-item {
    width: 29.06666667vw;
    margin: 0 1.066666667vw 0 0;
  }

  .product-area {
    .thumb-box {
      height: 38.66666667vw;
    }
  }

  .btn-more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14.06rem;
    height: 2.5rem;
    margin: 1.875rem auto 0;
    font-size: .875rem;
    line-height: 2.5rem;
    letter-spacing: -.28px;
    border: 1px solid #eaeaea;
    border-radius: 1.25rem;
    text-align: center;

    .ico-refresh {
      width: 0.9375rem;
      height: 0.9375rem;
      margin-right: 0.6rem;

      background: {
        image: url("../img/icon/ico_refresh.png");
        size: 0.9375rem;
      }
    }

    .swiper-pagination {
      width: auto;
      position: static;
      color: #aaa;
      line-height: inherit;
      font-size: inherit;
      letter-spacing: inherit;
      margin-left: 0.5rem;

      &-current {
        color: #000;
      }

      &-total {
        color: #777;
      }
    }
  }
}

// trend
.sc-trend {
  padding: 0 1.25rem;

  .tag-list {
    margin: {
      bottom: 0.625rem;
      right: -0.375rem;
    }

    ;

    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }

  .tag-item {
    float: left;
    margin: 0 0.375rem 0.375rem 0;

    &:last-child {
      margin-right: 0;
    }
  }

  .btn-tag {
    font-size: .875rem;
    line-height: 1.875rem;
    letter-spacing: -.28px;
    background: #f5f5f5;
    color: #777;
    padding: 0 0.625rem;
    border-radius: 0.125rem;

    &.active {
      font: {
        family: "ProximaNova-Semibold", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
        weight: 500;
      }

      background: #000;
      color: #fff;
    }
  }

  .group-trend {
    display: none;

    &.visible {
      display: block;
    }
  }

  .trend-list {
    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }

  .trend-item {
    padding-right: 0.125rem;
    width: 50%;
    float: left;
    margin-bottom: 0.25rem;

    &:nth-child(2n) {
      padding: {
        left: 0.125rem;
        right: 0;
      }

      ;
    }
  }

  .trend-area {
    .info-box {
      position: absolute;
      bottom: 1.25rem;
      left: 0;
      width: 100%;
      padding: 0 1.25rem;
      color: #fff;
    }

    .title {
      @include ellipse;
      font-size: .75rem;
      margin-bottom: 0.25rem;
    }

    .desc {
      &::after {
        content: '';
        display: block;
        clear: both;
      }
    }

    .discount-price {
      font: {
        weight: 500;
        size: .875rem;
      }
    }

    .discount-rate {
      float: right;
      font-size: .875rem;
      font-weight: 400;
    }
  }

  .banner-area {
    .info-box {
      position: absolute;
      left: 0;
      bottom: 1.25rem;
      width: 100%;
      padding: 0 5rem 0 1.25rem;
      word-break: keep-all;
      color: #fff;
    }

    .title {
      @include title(null);
      font-size: 1rem;
      margin-bottom: 0.25rem;
    }

    .desc {
      @include desc;
      line-height: 1.125rem;
      color: inherit;
    }
  }
}

// issue
.sc-issue {
  .issue-list-wrap {
    padding: 0 1.25rem;
  }

  .issue-area {
    .thumb-box {
      margin-bottom: 1rem;
    }

    .title {
      @include title(null);
      font-size: 1rem;
      color: #000;
      line-height: 1.25rem;
      margin-bottom: 0.25rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .desc {
      @include ellipse;
      @include desc;
      letter-spacing: normal;
      line-height: 1.063rem;
    }
  }
}

// special
.sc-special {
  .category-list {
    position: relative;
    display: flex;
    justify-content: center;

    margin: {
      bottom: 1.125rem;
      left: 1.25rem;
    }
  }

  .category-item {
    margin-right: 1.5rem;

    @include small {
      margin-right: 1.25rem;
    }
  }

  .btn-category {
    letter-spacing: -.28px;
    height: 1.25rem;

    font: {
      family: "ProximaNova-Semibold", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
      weight: 500;
      size: .875rem;
    }

    color: #aaa;
    border-bottom: 2px solid transparent;
    transition: all .2s ease-out;

    &.active {
      color: #000;
      border-bottom-color: #000;
    }
  }

  .product-list-wrap {
    padding-left: 1.25rem;
    display: none;

    &.visible {
      display: block;
    }
  }

  .product-list {
    padding: 0;
    overflow: visible;
  }

  .product-item {
    width: 44.26666666666667vw;

    margin: {
      right: 1.06666666vw;
      bottom: 0;
    }

    ;
  }

  .product-more {
    width: 32vw !important;
    height: 58.66666667vw;
    margin-right: 1.06666666vw !important;

    .link-more {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-size: .875rem;
      line-height: 1rem;
      letter-spacing: -.7px;
      text-align: center;
      color: #333;
    }

    .ico-more {
      display: block;
      width: 2rem;
      height: 2rem;

      background: {
        image: url("../img/icon/ico_more.png");
        repeat: no-repeat;
        size: cover;
      }

      margin: 0 auto 0.625rem;
    }
  }

  .product-area {
    .thumb-box {
      height: 58.66666666666667vw;
    }

    .title {
      font-size: .75rem;
      line-height: 1rem;
      color: #333;
    }
  }
}

// theme
.sc-theme {
  position: relative;
  margin-bottom: 0;

  .group-theme {
    margin-bottom: 4rem;
  }

  .theme-banner {
    margin-bottom: 1rem;
    padding: 0 1.25rem;

    .info-box {
      margin-top: 1rem;
    }

    .title {
      @include title(null);
      font-size: 1rem;
      color: #000;
      margin-bottom: 0.25rem;
    }

    .desc {
      @include desc;
      line-height: 1.125rem;
    }
  }

  .theme-list-wrap {
    padding: 0 1.25rem;
  }

  .theme-item {
    width: 29.0666666vw;
    margin-right: 1.06666666vw;
  }
}

// specialprice
.sc-specialprice {
  padding: 3.75rem 4.25rem;
  background: #f5f5f5;

  .price-list-wrap {
    padding-bottom: 2.75rem;
  }

  .price-area {
    .tag {
      position: absolute;
      top: 0;
      left: 0;
      width: 5rem;
      height: 5rem;
      padding: 0.875rem 0 0 0.625rem;

      font: {
        family: "ProximaNova-Semibold", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
        weight: 500;
        size: 1.125rem;
      }

      color: #fff;

      background: {
        image: url("../img/icon/tag_special_price_sale.png");
        repeat: no-repeat;
        size: cover;
      }
    }

    .info-box {
      background: #fff;
      height: 6.0625rem;
      padding: 1.25rem;
    }

    .brand {
      font: {
        family: "ProximaNova-Semibold", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
        weight: 500;
        size: .75rem;
      }

      margin-bottom: 0.125rem;
      color: #333;
    }

    .title {
      font-size: .75rem;
      margin-bottom: 0.375rem;
      color: #777;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .price {
      font: {
        family: "ProximaNova-Regular";
        size: .75rem;
      }

      color: #aaa;
      margin-left: 0.5rem;
      text-decoration: line-through;
      overflow: hidden;
    }

    .discount-price {
      margin-top: 1px;

      font: {
        weight: 500;
        size: .875rem;
      }

      color: #000;
    }
  }
}

// ranking
.sc-ranking {
  .tab-area {
    padding: 0 1.25rem;

    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }

  .btn-tab {
    float: left;
    font-size: .875rem;
    text-align: center;
    width: 50%;
    font-family: "ProximaNova-Semibold", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
    font-weight: 500;
    line-height: 2.75rem;
    padding-top: 0 !important;
    background-color: #fff;
    color: #aaa;
    border: 1px solid #eaeaea;

    &.active {
      background-color: #000;
      color: #fff;
      border-color: #000;
    }

    &+.btn-tab {
      margin-left: -1px;
    }
  }

  .category-list-wrap {
    margin-top: 1.125rem;
    margin-bottom: 1.125rem;
    padding-right: 1.25rem;
  }

  .category-list {
    overflow: visible;
    margin-left: 1.25rem !important;
  }

  .category-item {
    width: auto !important;
    margin-right: 1.5rem;
  }

  .btn-category {
    height: 1.25rem;
    font-family: "ProximaNova-Semibold", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
    font-weight: 500;
    font-size: .875rem;
    color: #aaa;
    border-bottom: 2px solid transparent;
    transition: all .2s ease-out;

    &.active {
      color: #000;
      border-bottom-color: #000;
    }
  }

  .tab-content {
    display: none;

    &.visible {
      display: block;
    }
  }

  .product-list {
    padding: 0 1.25rem 1.25rem;
  }

  .product-item {
    width: 33.333333333%;
    padding: 0 0.125rem;
    margin-right: 0;
    margin-bottom: 1.5rem;
  }

  .product-area {
    .thumb-box {
      height: 38.66666667vw;
    }

    .rank {
      position: absolute;
      top: 0;
      left: 0;
      width: 1.5rem;
      height: 1.5rem;
      font-size: .75rem;
      color: #fff;
      line-height: 1.5625rem;
      text-align: center;
      background: rgba(0, 0, 0, .4);
      z-index: 1;
    }
  }

  .brand-list {
    margin: 0 0 1.563rem;
    padding: 0 1.25rem;
  }

  .brand-item {
    width: 100%;
    height: 54px;
    line-height: 3.25rem;
    border-bottom: 1px solid #f1f1f1;
    overflow: hidden;
    transition: height .5s;

    &:first-child {
      border-top: 1px solid #f1f1f1;
    }

    &.active {
      height: 48.8vw;
    }

    @include xsmall {
      height: 46px;
    }

    .thumb-area {
      display: flex;
      padding: 0.125rem 0 1.5rem 1.25rem;
    }

    .thumb-box {
      display: block;
      width: 25%;
      margin: 0 1px;
    }

    .cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, .6);
      color: #fff;
      font-size: .75rem;
      line-height: normal;
      text-align: center;
      letter-spacing: -.6px;
    }

    .ico-more {
      display: block;
      width: 1.188rem;
      height: 1.188rem;
      margin-bottom: 12%;

      background: {
        image: url("../img/icon/ico_ranking_brand_more.png");
        size: cover;
      }
    }
  }

  .btn-brand {
    position: relative;
    display: block;
    min-height: 44px;
    font-family: "ProximaNova-Semibold", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
    font-weight: 500;
    font-size: .875rem;
    color: #000;
    width: 100%;
    text-align: left;

    .rank {
      color: #fa5500;
      margin-right: 0.75rem;
    }
  }

  .swiper-pagination {
    position: static;
  }
}

// makeityours
.sc-makeityours {

  .product-item {
    width: 50%;
    margin-bottom: 1.5rem;

    &:nth-child(2n) {
      padding-left: 0.125rem;
    }

    &:nth-child(2n+1) {
      padding-right: 0.125rem;
    }
  }

  .product-area {
    .thumb-box {
      height: 58.66666666666667vw;
    }
  }
}

// wconceptTV
.sc-wconceptTV {
  background: #000;
  padding: 3.75rem 0;

  .sc-title {
    z-index: 2;
  }

  .swiper-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &-in {
      position: relative;
    }
  }

  .swiper-slide-back {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .4s ease;

    &.swiper-slide {
      &-active {
        opacity: 1;
        z-index: 1;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 120%;
      height: 120%;
      background: #000;
      opacity: .7;
    }

    img {
      width: 140%;
      height: 140%;
      margin: -10% 0 0 -25%;
      filter: blur(20px);
    }
  }

  .wconceptTV-list-wrap {
    padding-bottom: 2.75rem;
  }

  .wconceptTV-item {
    width: 64vw;
    margin: 0 0.25rem;
    text-align: center;
    transition: all .3s ease;

    &.swiper-slide {
      opacity: .2;

      &-active {
        opacity: 1;

        .ico-play {
          display: block;
        }
      }
    }
  }

  .wconceptTV-area {
    .ico-play {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 3.375rem;
      height: 3.625rem;
      margin: -1.688rem 0 0 -1.813rem;

      background: {
        image: url("../img/icon/ico_play.png");
        repeat: no-repeat;
        size: cover;
      }

      display: none;
    }

    .info-box {
      background: #fff;
      height: 6.25rem;
      padding: 1.25rem;
      text-align: left;
    }

    .title {
      @include title(null);
      font-size: 1rem;
      color: #333;
      margin-bottom: 0.25rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .desc {
      @include desc;
      height: 2.5rem;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      white-space: normal;
      word-break: keep-all;
      line-height: 1.25rem;
    }
  }

  .swiper-button-prev {
    left: 6.875rem;
  }

  .swiper-button-next {
    right: 6.875rem;
  }
}

// wdnastyle
.sc-wdnastyle {
  padding: 0 1.25rem;
  margin-bottom: 0;

  .wdnastyle-list {
    overflow: hidden;
    width: 100%;

    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }

  .wdnastyle-item {
    float: left;
    width: 33.33%;
    padding: 0.03125rem;
  }

  .wdnastyle-area {
    .thumb-box {
      padding-bottom: 100%;

      background: {
        image: url("../img/banner/wdna_style_mask.png");
        repeat: no-repeat;
        position: center;
        size: 100%;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &::after {
        background-color: transparent;
      }
    }

    .name {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0 0.75rem 0.75rem;

      font: {
        family: "ProximaNova-Light", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
        weight: 400;
        size: .75rem;
      }

      color: #fff;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      z-index: 1;
    }
  }
}

// floating-nav
.floating-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 12;
  transition: bottom 250ms;

  &.invisible {
    bottom: -60px;
  }

  .bg-shadow {
    position: absolute;
    right: 10px;
    bottom: 7px;
    width: 60px;
    height: 60px;
    box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    z-index: -1;
  }

  .nav-list {
    display: flex;
    width: calc(100% - 100px);
    height: 50px;
    background: #fff;
    border-top: 1px solid #f5f5f5;
  }

  .nav-item {
    flex: 1;
    position: relative;
  }

  .link-nav {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-tap-highlight-color: transparent;

    i[class^="ico-"] {
      width: 100%;
      height: 100%;

      background: {
        position: center;
        size: 32px;
      }
    }

    .ico-home {
      background-image: url("../img/icon/ico_home.svg");
    }

    .ico-category {
      background-image: url("../img/icon/ico_category.svg");
    }

    .ico-myheart {
      background-image: url("../img/icon/ico_myheart.svg");
    }
  }

  .ico-mypage {
    background-image: url("../img/icon/ico_mypage.svg");
  }

  .link-gender {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 105px;
    height: 50px;
    background: url("../img/content/bg_action_women_right.svg") no-repeat center/contain;

    &::before {
      content: '';
      position: absolute;
      right: 10px;
      bottom: 7px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: #000 url("../img/icon/btn_men.png") no-repeat center/contain;
    }
  }

  .link-history {
    position: absolute;
    bottom: 82px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 11;
    transition: bottom .3s;

    &::before {
      content: '';
      display: inline-block;
      width: 100%;
      height: 100%;
      background: url("../img/icon/btn_history.svg") no-repeat center/cover;
    }

    &.active {
      bottom: 130px;
    }
  }

  .btn-top {
    position: absolute;
    bottom: 82px;
    right: 20px;
    width: 2.5rem;
    height: 2.5rem;
    z-index: 11;
    transition: bottom .3s;

    // display: none;
    &::before {
      content: '';
      display: inline-block;
      width: 100%;
      height: 100%;
      background: url("../img/icon/btn_page_top.svg") no-repeat center/cover;
    }

    &.active {
      display: block;
    }
  }

  @include small {

    .bg-shadow,
    .link-gender::before {
      width: 16vw;
      height: 16vw;
      right: 2.666666667vw;
      bottom: 1.866666667vw;
    }

    .bg-shadow {
      box-shadow: 0 2.133333333333333vw 1.6vw 0 rgba(0, 0, 0, 0.15);
    }

    .nav-list {
      width: calc(100% - 26.66666667vw);
      height: 13.33333333vw;
    }

    .link-nav {
      i[class^="ico-"] {
        background-size: 8.533333333vw;
      }
    }

    .link-gender {
      width: 28vw;
      height: 13.33333333vw;
    }

    .link-history {
      width: 10.666666666666668vw;
      height: 10.666666666666668vw;
      bottom: 21.86666667vw;
      right: 5.333333333vw;

      &.active {
        bottom: 34.66666667vw;
      }
    }

    .btn-top {
      width: 10.666666666666668vw;
      height: 10.666666666666668vw;
      bottom: 21.86666667vw;
      right: 5.333333333vw;
    }
  }
}

// page-intro
.page-intro {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, .7);
  z-index: 100;

  .logo {
    position: absolute;
    top: 0;
    left: 10px;
    width: 40px;
    opacity: 0;
    z-index: 1;
  }

  .thumb {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

    img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
  }

  .link-main {
    position: absolute;
    bottom: 128px;
    left: 0;
    right: 0;
    width: 80%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-family: "ProximaNova-Semibold";
    font-size: 16px;
    text-align: center;
    color: #121212;
    background: #fff;
    box-shadow: 0 8px 16px 0 RGB(0 0 0 / 16%);
    opacity: 0;
    pointer-events: none;

    @include small {
      bottom: 34.133vw;
      max-width: 255px;
      height: 14.9333vw;
      font-size: 4.2666vw;
      box-shadow: 0 2.133vw 4.266vw 0 RGB(0 0 0 / 16%);
    }
  }
}